
<h3>All Users</h3>
<%= link_to 'Log Out ', '/', class: "btn btn-secondary mt-3" %>

<%= link_to 'New User', '/users/new', class: "btn btn-secondary mt-3" %>
<%= link_to 'All Employee', '/employees/index', class: "btn btn-secondary mt-3" %>

<table>
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.email %></td>
                <td><%= link_to 'Show Passwords', '/passwords/index', class: "btn btn-secondary mt-3" %></td>
			</tr>
		<% end %>
	</tbody>
</table>

