<h3>All Passwords</h3>
<%= link_to 'Back to Users', '/users/index' %>
<%= link_to 'New Password', passwords_new_path(@user_id) %>

<table boarder=1>
	<thead>
		<tr>
			<th>User ID</th>
			<th>Website Name</th>
			<th>Website URL</th>
			<th>Password</th>
		</tr>
	</thead>
	<tbody>
		<% @passwords.each do |password| %>
			<tr>
				<td><%= password.user_id %></td>
				<td><%= password.website_name %></td>
				<td><%= password.website_url %></td>
				<td><%= '*******'+password.password[-4..-1] if password.password.present?	 %></td>
			</tr>
		<% end %>
	</tbody>
</table>

